.inputFld{
 margin-top:15%;
}

.orderPage{
    margin-top:3.5%;
}
.col-md-6{
    margin-top:1%;
}
.mat-display-1{
    margin-top: 5%;
    margin-bottom:-3%;    
    text-align:center;
}

#paybtn{
  text-align:center;
    width:10%;
    margin-left:45%;
}