<div class="fixedToolbar"> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span>Grapper</span>
    </a>
    <span class="example-spacer"></span>
    

    <section class="paddingToolbar" >
      <div class="row align-items-center">
       
          <form action="#">
            <div class="input-group w-100">
              <input type="text" [(ngModel)]="search" name="search" class="form-control" placeholder="Search here">
              <div class="input-group-append">
                <button (click)="onSearch()" class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
      </div>
    </section>

    <div fxShow="true" fxHide.lt-md="true">
      <a class="paddingToolbar" mat-button (click)="productroute()" ><mat-icon>home</mat-icon></a>
      <a class="paddingToolbar" mat-button (click)="testroute()"><mat-icon value="test">account_circle</mat-icon></a>
      <a class="paddingToolbar" mat-button (click)="logout()"><mat-icon>logout</mat-icon></a>
     <a class="paddingToolbar" mat-button (click)="cart()" ><mat-icon matBadge="{{carts.items.length}}" matBadgeColor="warn">shopping_cart</mat-icon></a>
    </div>
  </mat-toolbar>
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button (click)="productroute()">Home</a>
        <a mat-button (click)="testroute()">About us</a>
        <a mat-button (click)="logout()">Log out</a>
        <a mat-button (click)="cart()">Cart</a>
      </div>
    </mat-sidenav>
</div>     



<!-- <div class="tst">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
     
        <span>HOME</span>    
        
        <span class="spacer"></span>
        <div class="alignbtn">  

          <section class="mergingSearch" >
            <div class="row align-items-center">
             
                <form action="#">
                  <div class="input-group w-100">
                    <input type="text" [(ngModel)]="search" name="search" class="form-control" placeholder="Search here">
                    <div class="input-group-append">
                      <button (click)="onSearch()" class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
            </div>
          </section>

          <button class="btnclass" color="basic" (click)="productroute()" mat-button>
            <mat-icon>home</mat-icon>
          </button>
          <button (click)="testroute()" class="btnstudent" color="basic" mat-button>
            <mat-icon value="test">account_circle</mat-icon>
          </button>

          <button class="btnteacher" color="basic" (click)="logout()" mat-button>
            <mat-icon>logout</mat-icon>
          </button>

          <button class="btnteacher" color="basic" (click)="cart()" mat-button>
            <mat-icon matBadgeColor="warn">shopping_cart</mat-icon>
          </button>

        </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div> -->
<router-outlet></router-outlet>





<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
