<!-- <div *ngFor="let product of products" style="margin-top:25%">
  <h1> {{product.productName}}</h1> 
</div> -->



<section class="section-content padding-y">

  <div class="container-fluid">

    <div class="row">

      <aside class="col-md-3" id="spacing12">
        <hr>
        <div class="card">

          <article class="filter-group">

            <!-- <div class="filter-content collapse show" id="collapse_2"> -->
            <div class="card-body">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox>Men</mat-checkbox>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox>Women</mat-checkbox>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox>Child</mat-checkbox>
              </label>
            </div>
            <!-- </div> -->
          </article>
          <div id="applybtn1">
            <button class="btn btn-block btn-primary" >Apply</button>
          </div>



          <hr>
          <!-- This is price feature  -->
          <div id="heading55">
            <h3>Popular Brands</h3>
          </div>
          <article class="filter-group">
            <div class="card-body">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox (change)="cPuma($event)">Puma</mat-checkbox>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox (change)="cAddidas($event)">Addidas</mat-checkbox>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox (change)="cWoodland($event)">Woodland</mat-checkbox>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox (change)="cAsian($event)">Asian</mat-checkbox>
              </label>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <mat-checkbox (change)="cSparx($event)">Sparx</mat-checkbox>
              </label>
            </div>
            <!-- </div> -->
          </article>
          <div id="applybtn1">
            <button class="btn btn-block btn-primary" (click)="getBrand()">Apply</button>
          </div>

          <hr>

          <article class="filter-group">

            <h3 id="pr">Price Ranges</h3>
            <div class="card-body">


              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Minumum</mat-label>
                <input matInput type="number" [(ngModel)]="minimumPrice" name="minimumPrice" class="form-control"
                  class="example-right-align" placeholder="0">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>

              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Maximum</mat-label>
                <input matInput type="number"  [(ngModel)]="maximumPrice" name="maximumPrice" class="form-control"
                  class="example-right-align" placeholder="0">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>
            </div>
            <!-- </div> -->
          </article>
          <div id="applybtn1">
            <button class="btn btn-block btn-primary" (click)="priceRange()" >Apply</button>
          </div>
        </div>
      </aside>

      <!-- This id Card body  -->
      <main class="col-md-9" id="alignBody">
        <div class="row">
          <div class="col-lg-6" *ngFor="let product of products">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                 <img id="imga" src="{{product.pic}}">
              </div>
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <h3>{{product.productName}}</h3>
                  <div class="price-wrap mt-2" id="alignPrice">
                    <!-- <span class="price" id="pprice">$1280</span> -->
                    <h2 class="price">${{product.price}}</h2>

                  </div>
                </div>
    <button class="btn btn-block btn-primary" (click)="view(product.id)">
                  View
                </button>
              </figcaption>
            </figure>
          </div> 
        </div>
      </main>

      <div style="text-align: center;">
        <button style="width:15%;" type="button" class="btn btn-light btn-md mr-1 mb-2" (click)="backRoute()">
          Back</button>
        </div>