<mat-carousel class="crousel-setting" timings="250ms ease-in" [autoplay]="true" [interval]="5000" color="primary"
  maxWidth="auto" [proportion]="25" [slides]="4" [loop]="true" [hideArrows]="false" [hideIndicators]="true"
  [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">

  <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
    overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel>


<div class="mat-display-1">
  <h1 style="display: inline; color:#3f51b5"> ───────── </h1>Top Brands<h1 style="display: inline;color:#3f51b5">
    ─────────</h1>
</div>


<div class="brandsTags">
  <div class="container-fluid">
    <div class="row row-cols-6">
      <div class="col" class="alignCent">
        <a (click)="brand1()">
          <div>
            <img class="imagesize"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Adidas_Logo.svg/800px-Adidas_Logo.svg.png">

            <h3>Addidas</h3>
          </div>
        </a>
      </div>
      <div class="col" class="alignCent">
        <a (click)="brand2()">
          <div>
            <img class="imagesize"
              src="https://images.puma.net/images/fn/~regional~PNA~others~KOP~Logos~PUMA_Logo_Cat_black.png">

            <h3>Puma</h3>
          </div>
        </a>
      </div>
      <div class="col" class="alignCent">
        <a (click)="brand3()">
          <div>
            <img class="imagesize" src="https://redtape.com/image/catalog/brands/redtape_ath_new.png">

            <h3>Redtape</h3>
          </div>
        </a>
      </div>
      <div class="col" class="alignCent">

        <a (click)="brand4()">
          <div>
            <img class="imagesize" src="https://www.asianfootwears.com/9d61a0b58b16208068e2fcc32f89b5e4.png">

            <h3>Asian</h3>
          </div>
        </a>
      </div>
      <div class="col" class="alignCent">
        <a (click)="brand5()">
          <div>
            <img class="imagesize"
              src="https://exchange4media.gumlet.io/news-photo/1512460962_cA6Vi6_big.jpg?format=webp&w=400&dpr=2.6">

            <h3>Sparx</h3>
          </div>
        </a>
      </div>

      <div class="col" class="alignCent">
        <a (click)="brand6()">
          <div>
            <img class="imagesize" src="https://logodix.com/logo/1349160.jpg">

            <h3>Bata</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
<hr>
<div class="mat-display-1" style="margin-top: 1%;">
  <h1 style="display: inline; color:#3f51b5"> ───────── </h1>Categories<h1 style="display: inline;color:#3f51b5">
    ─────────</h1>
</div>


<div class="container-fluid">
  <main class="col-sm-12" class="style02">
    <div class="row">

      <!-- <div class="card bg-dark text-white">
                <img class="card-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div> -->
      <!-- <div class="col-sm-3">
                <div class="view view-cascade overlay">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to</p>
                        </div>
                    </div> <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div> -->

      <div class="col-sm-3 imageOverlay">
        <div class="view view-cascade overlay">
          <img class="card-img-top" class="cardStyle2" src="http://localhost:9090/download/edited-category-casual.jpg">
          <a (click)="category1()">
             <!-- <div class="mask flex-center waves-effect waves-light"> -->
              <div class="mask flex-center waves-effect waves-light">
                <p class="white-text">Casuals</p>
                <h1 class="blueLine">────</h1>
              </div>
          </a>
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="view view-cascade overlay">
          <img class="card-img-top" class="cardStyle2" src="http://localhost:9090/download/edited-category-sports.jpg">
          <a (click)="category2()">
            <div class="mask flex-center waves-effect waves-light">
              <p class="white-text">Sports</p>
              <h1 class="blueLine">────</h1>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="view view-cascade overlay">
          <img class="card-img-top" class="cardStyle2" src="http://localhost:9090/download/edited-category-sandals.jpg">
          <a (click)="category3()">
            <div class="mask flex-center waves-effect waves-light">
              <p class="white-text">Sandals</p>
              <h1 class="blueLine">────</h1>
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="view view-cascade overlay">
          <img class="card-img-top" class="cardStyle2" src="http://localhost:9090/download/edited-category-formal.jpg">
          <a (click)="category4()">
            <div class="mask flex-center waves-effect waves-light">
              <p class="white-text">Formal</p>
              <h1 class="blueLine">────</h1>
            </div>
          </a>
        </div>
      </div>
    </div>

  </main>

</div>

<hr>
<div class="mat-display-1">
  <h1 style="display: inline; color:#3f51b5"> ───────── </h1>More you like<h1 style="display: inline;color:#3f51b5">
    ─────────</h1>
</div>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Top Pics">
    <div class="container-fluid11">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top imgPosition" src="http://localhost:9090/download/grapper-product3-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Woodland Sandals and Floaters</h1>
            <p class="card-text">With a heritage of offering an extensive line of performance footwear, Woodland's sandals are one of its most iconic designs and the ultimate comfort</p>
            <button class="btn btn-block btn-primary" (click)="topPics1()">
              View
            </button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="http://localhost:9090/download/grapper-product4-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Centrino Men Formal Shoe</h1>
            <p class="card-text">Experience great comfort walking in this pair of Formal Shoes from the house of HUSH PUPPIES Featuring a contemporary refined design with exceptional comfort</p>
            <button class="btn btn-block btn-primary" (click)="topPics2()">
              View
            </button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top imgPosition" src="http://localhost:9090/download/grapper-product9-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Addabok Sports Shoes</h1>
            <p class="card-text">Unisex Kids Sports Shoes, Running Shoes for Boys & Girls, Winter Shoes for Kids, Outdoor Sports Shoes for Kids 4 to 12 Years.Outdoor Sports Shoes for Kids 4 to 12 Years</p>
            <button class="btn btn-block btn-primary mt-auto" (click)="topPics3()" >
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Trending">
    <div class="container-fluid11">
      <div class="card-deck">
        <div class="card d-flex flex-column">
          <img class="card-img-top" src="http://localhost:9090/download/grapper-product1-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Asian Oxygen-01</h1>
            <p class="card-text">Breathable air mesh upper which is easily washable, perfect for all seasons - winter, summer and rainy, designed to give you the most comfortable fitting while</p>
            <button class="btn btn-block btn-primary mt-auto" (click)="trending1()" >
              View
            </button>
          </div>
        </div>
        <div class="card setCardWidth">
          <img class="card-img-top" src="http://localhost:9090/download/grapper-product2-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Sparx Sneakers</h1>
            <p class="card-text">Sparx is a spectacular range of footwear from the house of Relaxo Footwears Ltd., a name trusted among millions of people in India and across the world for delivering unmatched quality.</p>
            <button class="btn btn-block btn-primary" (click)="trending2()">
              View
            </button>
          </div>
        </div>
        <div class="card setCardWidth">
          <img class="card-img-top" src="http://localhost:9090/download/grapper-product5-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Red Tape Walking Shoe</h1>
            <p class="card-text">Enhance your workout sessions by getting this pair of black sports shoes from Red Tape. The high-quality mesh and PU material is lightweight</p>
            <button class="btn btn-block btn-primary" (click)="trending3()">
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Best in Category">
    <div class="container-fluid11">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top imgPosition" src="http://localhost:9090/download/grapper-product6-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Sparx Running Shoe</h1>
            <p class="card-text">Flaunt with these stylish and unique grey pink sports shoes as per the latest fashion trend from the house of Sparx.Sparx is one leading company in world and in India.</p>
            <button class="btn btn-block btn-primary" (click)="bestInCategory1()">
              View
            </button>
          </div>      
        </div>
        <div class="card">
          <img class="card-img-top imgPosition" src="http://localhost:9090/download/grapper-product7-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Adidas Skateboarding Shoe</h1>
            <p class="card-text">Adidas is the world's leading manufacturer of sports and casual wear footwear. Adidas offers performance and sport-inspired lifestyle products in categories such as Football, Running</p>
            <button class="btn btn-block btn-primary" (click)="bestInCategory2()">
              View
            </button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top imgPosition" src="http://localhost:9090/download/grapper-product8-a1.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Puma Mesh Running Shoes</h1>
            <p class="card-text">Puma is one of the world's leading sports brands, designing, developing, selling and marketing footwear, apparel and accessories.Used by worlds fastest racers in the world</p>
            <button class="btn btn-block btn-primary" (click)="bestInCategory3()">
              View
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<footer class="page-footer font-small blue pt-4">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>